:root {
  --ash-gray: #bfc3baff;
  --silver: #a9aca9ff;
  --eggplant: #60495aff;
  --english-violet: #3f3244ff;
  --dark-purple: #2f2235ff;
  --white: #fff;
}

.footer {
  width: 100vw;
  min-height: 60px;
  background: linear-gradient(90deg, var(--eggplant), var(--english-violet), var(--dark-purple));
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: auto; 
  position: relative;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.footer-link svg {
  fill: var(--white);
  transition: transform 0.2s;
  display: block;
}

.footer-link:hover svg {
  transform: scale(1.1);
}

